In [7]:
import requests
import pandas as pd

import datetime
import numpy as np 
start = 0
end = 0
url_2 =f"https://history.openweathermap.org/data/2.5/history/city?lat=16.0678&lon=108.2208&type=hour&start={start}&end={end}&appid=1d45e07382e657c54d36dc2f4099d1e2"

In [8]:
from datetime import datetime, timedelta

# Khởi tạo ngày giờ bắt đầu và ngày giờ kết thúc
start_datetime = datetime(2024, 1, 1, 0, 0, 0)
end_datetime = datetime(2024, 9, 30, 23,0, 0)

# Danh sách để lưu các nhóm
groups = []

# Biến để giữ ngày giờ hiện tại
current_datetime = start_datetime

while current_datetime <= end_datetime:
    # Tính ngày giờ kết thúc cho nhóm hiện tại
    group_end_datetime = current_datetime + timedelta(days=6, hours=23)
    if group_end_datetime > end_datetime:
        group_end_datetime = end_datetime

    # Lưu nhóm vào danh sách
    groups.append((current_datetime.strftime("%Y-%m-%d %H:%M:%S"), group_end_datetime.strftime("%Y-%m-%d %H:%M:%S")))

    # Cập nhật ngày giờ hiện tại
    current_datetime += timedelta(days=7)
groups

[('2024-01-01 00:00:00', '2024-01-07 23:00:00'),
 ('2024-01-08 00:00:00', '2024-01-14 23:00:00'),
 ('2024-01-15 00:00:00', '2024-01-21 23:00:00'),
 ('2024-01-22 00:00:00', '2024-01-28 23:00:00'),
 ('2024-01-29 00:00:00', '2024-02-04 23:00:00'),
 ('2024-02-05 00:00:00', '2024-02-11 23:00:00'),
 ('2024-02-12 00:00:00', '2024-02-18 23:00:00'),
 ('2024-02-19 00:00:00', '2024-02-25 23:00:00'),
 ('2024-02-26 00:00:00', '2024-03-03 23:00:00'),
 ('2024-03-04 00:00:00', '2024-03-10 23:00:00'),
 ('2024-03-11 00:00:00', '2024-03-17 23:00:00'),
 ('2024-03-18 00:00:00', '2024-03-24 23:00:00'),
 ('2024-03-25 00:00:00', '2024-03-31 23:00:00'),
 ('2024-04-01 00:00:00', '2024-04-07 23:00:00'),
 ('2024-04-08 00:00:00', '2024-04-14 23:00:00'),
 ('2024-04-15 00:00:00', '2024-04-21 23:00:00'),
 ('2024-04-22 00:00:00', '2024-04-28 23:00:00'),
 ('2024-04-29 00:00:00', '2024-05-05 23:00:00'),
 ('2024-05-06 00:00:00', '2024-05-12 23:00:00'),
 ('2024-05-13 00:00:00', '2024-05-19 23:00:00'),
 ('2024-05-20 00:00:00', '2024-05-26 23:00:00'),
 ('2024-05-27 00:00:00', '2024-06-02 23:00:00'),
 ('2024-06-03 00:00:00', '2024-06-09 23:00:00'),
 ('2024-06-10 00:00:00', '2024-06-16 23:00:00'),
 ('2024-06-17 00:00:00', '2024-06-23 23:00:00'),
 ('2024-06-24 00:00:00', '2024-06-30 23:00:00'),
 ('2024-07-01 00:00:00', '2024-07-07 23:00:00'),
 ('2024-07-08 00:00:00', '2024-07-14 23:00:00'),
 ('2024-07-15 00:00:00', '2024-07-21 23:00:00'),
 ('2024-07-22 00:00:00', '2024-07-28 23:00:00'),
 ('2024-07-29 00:00:00', '2024-08-04 23:00:00'),
 ('2024-08-05 00:00:00', '2024-08-11 23:00:00'),
 ('2024-08-12 00:00:00', '2024-08-18 23:00:00'),
 ('2024-08-19 00:00:00', '2024-08-25 23:00:00'),
 ('2024-08-26 00:00:00', '2024-09-01 23:00:00'),
 ('2024-09-02 00:00:00', '2024-09-08 23:00:00'),
 ('2024-09-09 00:00:00', '2024-09-15 23:00:00'),
 ('2024-09-16 00:00:00', '2024-09-22 23:00:00'),
 ('2024-09-23 00:00:00', '2024-09-29 23:00:00'),
 ('2024-09-30 00:00:00', '2024-09-30 23:00:00')]

In [9]:
unix_date_ranges = [(int(datetime.strptime(start, '%Y-%m-%d %H:%M:%S').timestamp()), 
                     int(datetime.strptime(end, '%Y-%m-%d %H:%M:%S').timestamp())) 
                    for start, end in groups]

print(unix_date_ranges)

[(1704042000, 1704643200), (1704646800, 1705248000), (1705251600, 1705852800), (1705856400, 1706457600), (1706461200, 1707062400), (1707066000, 1707667200), (1707670800, 1708272000), (1708275600, 1708876800), (1708880400, 1709481600), (1709485200, 1710086400), (1710090000, 1710691200), (1710694800, 1711296000), (1711299600, 1711900800), (1711904400, 1712505600), (1712509200, 1713110400), (1713114000, 1713715200), (1713718800, 1714320000), (1714323600, 1714924800), (1714928400, 1715529600), (1715533200, 1716134400), (1716138000, 1716739200), (1716742800, 1717344000), (1717347600, 1717948800), (1717952400, 1718553600), (1718557200, 1719158400), (1719162000, 1719763200), (1719766800, 1720368000), (1720371600, 1720972800), (1720976400, 1721577600), (1721581200, 1722182400), (1722186000, 1722787200), (1722790800, 1723392000), (1723395600, 1723996800), (1724000400, 1724601600), (1724605200, 1725206400), (1725210000, 1725811200), (1725814800, 1726416000), (1726419600, 1727020800), (1727024400, 1727625600), (1727629200, 1727712000)]

In [10]:
for start, end in unix_date_ranges:
    url = url_2.format(start, end)
    response = requests.get(url)
    data = response.json()
    data_list = data["list"]
    df = pd.DataFrame(data_list)

# Tách cột 'main' thành nhiều cột
    df_main = pd.json_normalize(df['main'])

# Tách cột 'wind' thành nhiều cột
    df_wind = pd.json_normalize(df['wind'])

# Tách cột 'clouds' thành nhiều cột
    df_clouds = pd.json_normalize(df['clouds'])


# Gộp tất cả các cột đã tách vào DataFrame ban đầu
    df_combined = pd.concat([df['dt'], df_main, df_wind, df_clouds], axis=1)

    df_combined['dt'] = pd.to_datetime(df_combined['dt'], unit='s').dt.strftime('%Y-%m-%d %H:%M')
    with open('data_weather.csv', 'a', newline='') as file:
        df_combined.to_csv(file, index=False)

In [11]:
df_combined.head()

,dt,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,all
0,2024-10-15 10:00,302.14,307.65,1009,79,302.14,302.14,4.63,20,20
1,2024-10-15 11:00,301.14,305.69,1010,83,301.14,301.14,4.12,10,20
2,2024-10-15 12:00,301.14,305.69,1011,83,301.14,301.14,3.60,30,20
3,2024-10-15 13:00,301.14,305.69,1012,83,301.14,301.14,2.06,20,20
4,2024-10-15 14:00,300.14,303.15,1012,83,300.14,300.14,2.06,20,20

In [12]:
df_combined.describe()

,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,all
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,300.765000,304.037917,1011.125000,83.125000,300.765000,300.765000,1.950417,54.583333,33.958333
std,1.813296,3.827973,1.483606,8.897056,1.813296,1.813296,1.480092,77.738646,13.103200
min,298.140000,299.140000,1009.000000,70.000000,298.140000,298.140000,0.000000,0.000000,20.000000
25%,299.140000,299.150000,1010.000000,74.000000,299.140000,299.140000,0.510000,0.000000,20.000000
50%,301.140000,305.690000,1011.000000,83.000000,301.140000,301.140000,1.800000,20.000000,40.000000
75%,302.140000,307.650000,1012.000000,90.250000,302.140000,302.140000,3.090000,72.500000,40.000000
max,303.140000,309.160000,1014.000000,94.000000,303.140000,303.140000,4.630000,250.000000,75.000000